:root {
  --primary-text-color: 212121;
  --secondary-text-color: #757575;
  --less-white-color: #ffffff;
  --background-grey-color: #f5f4fa;
}
font-family: "Roboto", sans-serif;
font-family: "Raleway", sans-serif;
a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.accent {
  color: #2196f3;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo {
  color: #212121
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.main-navigation li a {
  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav1:hover,
.nav1:focus {
  color: #2196f3;
}

.nav2:hover,
.nav2:focus {
  color: #2196f3;
}

.nav3:hover,
.nav3:focus {
  color: #2196f3;
}

.link-current:hover {
  color: #2196f3;
}

.main-navigation .link-current {
  color: #2196f3;
}

.mail li a {
  color: var(--secondary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.mail li a:hover,
.mail li a:focus {
  color: #2196f3;
}
.hero {
  color: var(--less-white-color);
  background-color: #a1c8e9;
  /* на макете нет заливки, только что бы было видно текст белым цветом */
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.order-service {
  color: var(--less-white-color);
  background-color: #2196f3;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  text-align: center;
  letter-spacing: 0.06em;
}

/* .svg-back:hover {
  color: #2196f3;
} */
/* если правильно поняла, этот ховер делается не так и его пока игнорировать */

.benefits-head {
  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefits-descr {
  color: var(--secondary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.head-2-descr {
  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.work-head {
  color: var(--less-white-color);
  background-color: rgba(47, 48, 58, 0.8);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.our-team {
  background-color: var(--background-grey-color);
}

.developed {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.4);
}

.name {
  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.job {
  color: var(--secondary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo2 {
  color: var(--less-white-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.accent2 {
  color: #2196f3;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.footer-class {
  background-color: #2f303a;
}
.logo2 {
  color: var(--less-white-color);
}
.adress-footer {
  color: var(--less-white-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.mail-footer {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.join {
  color: var(--less-white-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
